<form class="container-fluid border rounded p-4 mt-4" id="post-form">
  <h1>Create Post</h1>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter a title for your post"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      placeholder="Enter a description for your post"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="file" class="form-label">Image</label>
    <input class="form-control" type="file" id="file" name="file" />
  </div>
  <button id="post-btn" type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/upload.js"></script>