<div class="card col-10 col-md-4 col-lg-3">
  <img src="{{post.imgUrl}}" class="card-img-top" alt="{{post.title}}" />
  <div class="card-body">
    <h5 class="card-title" id="post-title">{{post.title}}</h5>
    <p class="card-text" id="post-text">{{post.text}}</p>
  </div>
</div>