<div class="container-fluid"> 
    <div class="row py-5">
        <div class="col-10 col-md-6 mx-auto">
            {{#if posts.length}}
            <section> 
                <h2>Your Dashboard</h2>
                <ul>
                    {{#each posts as |post|}}
                    {{/each}}
                </ul>
            </section>
            {{/if}}
        </div>
    </div>
</div>

<div class="container">
    {{> file-upload-form}}
    <div class="container-fluid">
        <h1>Posts</h1>
            <div class="row post-list" id="post-list">
                {{#if posts}}
                    {{#each posts as |post| }}
                        {{> post-card post=post }}
                    {{/each}}
                {{else }}
                    <p>There are currently no posts.</p>
                {{/if}}
            </div>
    </div>
</div>



<script src="/js/upload.js"></script>
<script src="/js/add-post.js"></script>
<script src="/js/logout.js"></script>
{{!-- <script src="/js/create-post.js" ></script> --}}