<div class="container-fluid">
  <div class="row py-5">
    <div class="col-10 col-md-6 mx-auto">
      <form class="bg-light p-5" id="Tsignup-form">
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-4 col-form-label">Email:</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail3" />
          </div>
        </div>
        <div class="row mb-3">
          <label
            for="inputPassword3"
            class="col-sm-4 col-form-label"
          >Password:</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="inputPassword3" />
          </div>
        </div>
        <div class="row mb-3">
          <label
            for="inputPassword3"
            class="col-sm-4 col-form-label"
          >Username:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputUsername3" />
          </div>
        </div>
        <div class="row mb-3">
          <label
            for="inputPassword3"
            class="col-sm-4 col-form-label"
          >Certification:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputCertification3" />
          </div>
        </div>
        <div class="row mb-3">
          <label
            for="inputPassword3"
            class="col-sm-4 col-form-label"
          >Speciality:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputSpecialty3" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
              </label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>
<script src="/js/trainerSignup.js"></script>
